.About_Background {
    background-image: url('./About_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
}

.About_Title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin:0%;
    padding-top: 8rem;
}

.About_Subtitle {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    margin: 0%;
}

.About_Layout {
    padding: 4%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.About_Layout_1 {
    display: grid;
    padding: auto;
    justify-content: center;
    align-items: center;
}