.Youtube_background {
    background-color:#000;
    height: 100vh;
}

.Youtube_title{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
    margin-top: 0;
}

.Youtube_player{
    position: absolute;
    margin: auto;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Blog_Title{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 8rem;
    margin-top: 0;
}